<header class="sticky top-0 backdrop-blur-md bg-white/70 shadow-sm z-50">
  <div class="container mx-auto px-4 py-3 flex items-center justify-between">
    <!-- Logo -->
    <h1 class="text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-emerald-600 to-blue-500">
      Vanaspatigrahah
    </h1>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-8 left-[27rem] relative">
      <a routerLink="/" routerLinkActive="text-green-600" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
      <span class="material-icons-outlined relative top-[6px]">local_florist</span>
      Plants
      </a>
      <a routerLink="/fertilizer" routerLinkActive="text-green-600" class="nav-link">
      <span class="material-icons-outlined relative top-[6px]">eco</span>
      CropCare Essentials
      </a>
      
    </nav>

   

    <!-- User Menu / Login Button -->
    <ng-container *ngIf="isAuthenticated; else loginButton">
      <button class="w-10 h-10 rounded-full overflow-hidden hover:ring-2 ring-green-500 transition-all">
        <img src="/avatar.webp" alt="Profile" class="w-full h-full object-cover">
      </button>
    </ng-container>
    <ng-template #loginButton>
      <a routerLink="/login" class="px-4 py-2 rounded-full bg-green-600 text-white hover:bg-green-700 transition-colors">
        Login
      </a>
    </ng-template>
  </div>
</header>
